---

---

// CONFIG
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');

$dark: rgb(36, 41, 45);
$light: rgb(244, 244, 244);
$light-blue: rgb(34, 155, 237);

$nav-width: 200px;

// GENERAL

* {
  font-family: 'Ubuntu', sans-serif;
}

.main-container {
  position: relative;
  display: flex;
  background-color: darken($dark, 7%);
}

.contact-btn {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: $light-blue;
  color: $light;
  border-radius: 40px;
  border: none;
  font-size: 1.2em;
  position: absolute;
  top: 20px;
  right: 20px;
}

// SECTION

.main-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    color: $light;
  }
  h2 {
    color: $light;
  }
}

// NAV

.side-nav {
  transition: all .6s ease-out;
  transform: translateX(-100%);
  position: sticky;
  left: 0;
  top: 0;
  height: 100vh;
  width: $nav-width;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $dark;
  ul {
    z-index: 10 !important;
  }
  li {
    transition: all .3s ease-out;
    padding: 20px 0px;
    font-size: 2em;
    color: darken($light, 30%);
    cursor: pointer;
    &:hover {
      color: $light;
    }
  }
  .nav-scroll {
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0%;
    background-color: lighten($dark, 5%);
    opacity: .5;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-bottom: 1px solid $light;
    }
  }
}

.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
}

// FOOTER

.footer {
  display: flex;
  align-items: center;
  padding: 50px !important;
  background-color: rgb(50, 50, 50);
  color: $light;
  .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  i {
    font-size: 2em;
    margin-right: 15px;
  }
}
